#login {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rooms {
  margin: 0.25rem;
  padding: 0rem 0.25rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #2a93ec;
  border-radius: 0.25rem;
}

.rooms > button {
  background: #333;
  border: none;
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  transition: all 0.25s ease-in;
}
.rooms > button:hover {
  color: #2a93ec;
}
.rooms > span {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

#login-form {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #2a93ec;
  border-radius: 0.75rem;
}

#login-form > input {
  box-sizing: border-box;

  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
#login-form > input:focus {
  outline: none;
}

#login-form > button {
  width: 100%;
  background: #333;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  transition: all 0.25s ease-in;
}

#login-form > button:hover {
  color: black;
  background: #2a93ec;
}

.error {
  border: 2px solid red;
  color: white;
  background: rgba(255, 0, 0, 0.3);
}
